<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PaJaMa.Database.Studio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DatabaseStudio.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <PaJaMa.Database.Studio.Properties.Settings>
      <setting name="Maximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="ConnectionStrings" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCompareSourceConnString" serializeAs="String">
        <value />
      </setting>
      <setting name="LastCompareTargetConnString" serializeAs="String">
        <value />
      </setting>
      <setting name="LastDataGenerateConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="LastQueryConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="LastQueryServerType" serializeAs="String">
        <value />
      </setting>
      <setting name="DataDetailsMaximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DataDetailsLeft" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataDetailsTop" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataDetailsWidth" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="DataDetailsHeight" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="SearchConnectionStrings" serializeAs="String">
        <value />
      </setting>
      <setting name="LastSearchConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="LastQueryUseDummyDA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MonitorConnectionStrings" serializeAs="String">
        <value />
      </setting>
      <setting name="LastMonitorConnectionString" serializeAs="String">
        <value />
      </setting>
    </PaJaMa.Database.Studio.Properties.Settings>
    <DatabaseStudio.Properties.Settings>
      <setting name="Maximized" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Left" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Top" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Width" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Height" serializeAs="String">
        <value>0</value>
      </setting>
    </DatabaseStudio.Properties.Settings>
  </userSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v13.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="System.Data.SQLite.EF6" type="System.Data.SQLite.EF6.SQLiteProviderServices, System.Data.SQLite.EF6" />
    </providers>
  </entityFramework>
  
<system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.9.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks.Extensions" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
